body
{
 background-image:url('https://media.istockphoto.com/photos/sepia-tones-background-with-musical-staves-border-picture-id174624052?k=20&m=174624052&s=612x612&w=0&h=Kh_GGfqUtWFu2uoUmtcLFenNmCGPJQJeoCbMPOIgQBA=');
 margin-left:100px;
}
h1{
  text-align:center;
  font-size:90px;
  color:purple;
  font-family:Impact;
}   
ul{
  font-size:45px;
  color:blue;
  font-family:cursive;
  font-weight:900;
}
ul{
 margin:0;
 padding:0px;
 list-style:none;
}

ul li{
 float:left;
 width:400px;
 height:70px;
 background-color:grey;
 opacity:.9;
 line-height:70px;
 text-align:center;
 font-size:40px;

}
ul li a{
 text-decoration:none;
 color:white;
 display:block;
}
ul li a:hover{
 background-color:blue;
 }
ul li ul li{
 display:none;
 }
ul li:hover ul li{
 display:block;
}
