body
{
 background-image:url('https://media.istockphoto.com/photos/sepia-tones-background-with-musical-staves-border-picture-id174624052?k=20&m=174624052&s=612x612&w=0&h=Kh_GGfqUtWFu2uoUmtcLFenNmCGPJQJeoCbMPOIgQBA=');
 margin-left:100px;
}
h1{
  text-align:center;
  font-size:90px;
  color:purple;
  font-family:Impact;
}   
ul{
  font-size:45px;
  color:blue;
  font-family:cursive;
  font-weight:900;
}
